# Gateway (HTTP)
GATEWAY_HOST=localhost
GATEWAY_PORT=3000

# Merchant Onboarding (TCP)
MERCHANT_ONBOARDING_HOST=localhost
MERCHANT_ONBOARDING_PORT=3001

# Merchant Governance (TCP)
MERCHANT_GOVERNACE_HOST=localhost
MERCHANT_GOVERNACE_PORT=3002

# Dispute Management (TCP)
DISPUTE_MNG_HOST=localhost
DISPUTE_MNG_PORT=3003

# Recon Management (TCP)
RECON_MNG_HOST=localhost
RECON_MNG_PORT=3004

# MIS Reports (TCP)
MIS_REPORTS_HOST=localhost
MIS_REPORTS_PORT=3005
