# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root123
DB_NAME=felexei_acquirer

# Gateway (HTTP)
GATEWAY_HOST=localhost
GATEWAY_PORT=3000


# Merchant Onboarding (TCP)
MERCHANT_ONBOARDING_HOST=localhost
MERCHANT_ONBOARDING_PORT=3001

# Merchant Governance (TCP)
MERCHANT_GOVERNACE_HOST=localhost
MERCHANT_GOVERNACE_PORT=3002

# Dispute Management (TCP)
DISPUTE_MNG_HOST=localhost
DISPUTE_MNG_PORT=3003

# Recon Management (TCP)
RECON_MNG_HOST=localhost
RECON_MNG_PORT=3004

# MIS Reports (TCP)
MIS_REPORTS_HOST=localhost
MIS_REPORTS_PORT=3005

# KYC API Integration (TCP)
KYC_API_INTEGRATION_HOST=localhost
KYC_API_INTEGRATION_PORT=3006

# RPACPC KYC vendor
RPACPC_URL=https://api.rpacpc.com
RPACPC_TOKEN=
RPACPC_SECREATE_KEY=
